<%= form_for @idea do |f| %>
<div>
<%= f.label :title %>
<%= f.text_field :title %>
</div>
<div>
<%= f.label :sub %>
<%= f.text_field :sub %>
</div>
<div>
<%= f.label :description %>
<%= f.text_area :description %>
</div>
<div>
<%= f.label :target %>
<%= f.text_field :target %>
</div>
<div>
<%= f.label :b2bc %>
<%= f.text_field :b2bc %>
</div>
<div>
<%= f.label :help %>
<%= f.text_field :help %>
</div>
<div>
<%= f.label :keywords %>
<%= f.text_field :keywords %>
</div>

<div>
<%= f.submit %>
</div>



<%end%> 