

<ul>
<% @ideas.each do |i| %>

<h2> <%= i.title %></h2>
<h4 class="border border-info"> <%= i.sub %></h4>
<h6 class="border border-info"> <%= i.keywords %> <%= i.b2bc %> </h6>
  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <%= link_to "Edit your idea", edit_idea_path(i), class:"btn btn_yellow" %>
            <%= link_to "Delete your idea", idea_path(i), method: "DELETE" , :data => { :confirm => "Your´re sure??"}, class:"btn btn_red" %>
            <%= link_to 'Discover this idea', idea_path(i), class:"btn btn_green" %> 
</div>




<%end%>
</ul>

